.App {

}

.in-row {
    display: flex;
    flex-direction: row;
    margin : 5px 5px 5px 5px;
}

.in-column {
    display: flex;
    flex-direction: column;
}


/* style for sidebar */

.sidebar {
    /* position: absolute;
    width: 243px;
    height: 716px;
    left: 0px;
    top: 132px; */
}
li {
    list-style: none;
}
.first {
    position: absolute;
    width: 85px;
    height: 18px;
    left: 79px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    /* Iris/100 */

    color: #5D5FEF;
}





/* css for main section */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 8px;

    position: absolute;
    width: 84px;
    height: 30px;
    left: 815px;
    top: 177px;

    /* white */

    background: #FFFFFF;
    /* white */

    border: 0.2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.category-selected {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 16px;
/* 
    position: absolute;
    width: 50px;
    height: 30px;
    left: 343px;
    top: 177px; */

    background: #ffd893;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}


.flex-row > li {
    padding: 6px 16px;

    background: #cacdba;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}


