.App {
    display: flex;
    flex-direction: row;
}


.Sidebar {
    background-color: #5D5FEF;
}
.in-row {
    display: flex;
    flex-direction: row;
    margin : 5px 5px 5px 5px;
}

.in-column {
    display: flex;
    flex-direction: column;
}




/* css for header */

.header {
    display: flex;
    flex-direction: row;

    width: 1512px;
    height: 90px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.logo {
    width : 84px;
    height : 30px;

    margin-left : 20px;
    margin-top: 35px;
    
}

.header-nav {
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* light */

    color: #707D85;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.form {
    position: absolute;
    left: 40%;
    /* right: 35.41%; */
    top: 27.78%;
    bottom: 27.78%;

    background: #FFFFFF;
    /* light */

    border: 1px solid #707D85;
    box-sizing: border-box;
    border-radius: 30px;
}

.search-button {
    position: absolute;
    width : 13.87px;
    height : 16.26px;
    top : 20%;
    left : 95%;
    
}

.progress {
    position: absolute;
    left: 55%;
    top: -20%;

    /* Fuschia/100 */

    background: linear-gradient(180deg, #ffffff 0%, #b5b3b3 100%);
    border-radius: 30px;
}

.search-field {
    width: 20%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;

    width : 40px;
    height : 20px;
    position: absolute;
    left: 70%;
    /* right: 2.24%; */
    top: 15%;
    bottom: 27.78%;

    /* Fuschia/100 */

    background: linear-gradient(180deg, #FFD893 0%, #FFA300 100%);
    border-radius: 11px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;

    width : 40px;
    height : 20px;
    position: absolute;
    left: 76%;
    /* right: 2.24%; */
    top: 15%;
    bottom: 27.78%;

    /* Fuschia/100 */

    background: linear-gradient(180deg, #FFD893 0%, #FFA300 100%);
    border-radius: 11px;
}
.credits {
    display: flex;
    flex-direction: row;
}
.credits-image {
    position: absolute;
    width : 20px;
    height : 20px;
    left : 890px;
    top : 8px;
}

.credits-text {
    position : absolute;
    left : 920px;
    top : -8px;
}



/* style for sidebar */

.sidebar {
    position: absolute;
    width: 243px;
    height: 716px;
    left: 0px;
    top: 132px;    
}
li {
    list-style: none;
    margin-top : 27px;
    left: 79px;
    height : 18px;
    font-family: 'Inter';
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color : #2A373F;
    padding-bottom: 5px;
}
li > img {
    margin-top: 5px;
    margin-left : 5px;
    padding-right: 5px;
    padding-left: 3px;
}
.first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
    left : 79px;
    height : 35px;
    color: #5D5FEF;

    background: #F5F5FE;
    border-radius: 0px 37px 37px 0px;
}
hr {
    width: 243px;
    height: 0px;
    left: 0px;
    top: 469px;

    /* Dark */

    background: #2A373F;
    opacity: 0.6;
    /* light */

    border: 1px solid #707D85;

}




/* css for main section */
.main {
    display: flex;
    flex-direction : column;
    width: 700px;
    left : 300px;

}
.card-image {
    float : right;
    width : 200px;
    height : 200px;
    margin-bottom: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 8px;

    position: absolute;
    width: 84px;
    height: 30px;
    left: 350px;
    top: 125px;

    /* white */

    /* background: #FFFFFF; */
    /* white */

    /* border: 0.2px solid #FFFFFF; */
    box-sizing: border-box;
    /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04); */
    border-radius: 20px;
}

.category-selected {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 16px;
/* 
    position: absolute;
    width: 50px;
    height: 30px;
    left: 343px;
    top: 177px; */

    background: #ffd893;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.flex-row > li {
    padding: 6px 16px;
    margin-left : 10px;
    margin-right : 15px;
    background: #f4f5f0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    border : 2px solid white;
    box-shadow: #707D85;
}

.mob-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 771px;
    height: 250px;
    left: 343px;
    top: 241px;

    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.main-text {
    position: absolute;
    width: 171px;
    height: 23px;
    left: 343px;
    top: 122px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    /* Dark */

    color: #2A373F;

}

.card-options {
    display: flex;
    flex-direction: row;
}

.like, .share, .read-later {
    height : 25px;
    width : 25px;
}

.blue {
    width: 150px;
    height: 22px;
    left: 574.95px;
    top: 651px;

    margin-top : 3px;
    margin-bottom: 5px;
    padding-left : 15px;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 183% */
    
    
    /* Iris/100 */
    
    color: #5D5FEF;    
}



/* css for trending and follow section */

.follow-suggestion {
    padding : none;
    margin : none;
}

.recent-searches-text {
    margin : none;
    text-decoration: none;
}

.recent-searches {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom :10px;

    position: absolute;
    width: 341px;
    height: 300px;
    left: 1135px;
    top: 100px;

    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    
}

.recent-image {
    float : right;
    padding-right : 5px;

}
.follow-image {
    float : left;
    padding-right : 5px;
}

.topics-to-follow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 341px;
    height: 520px;
    left: 1135px;
    top: 407px;

    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.topic {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin-right : 5px;
    margin-bottom: 5px;
    /* identical to box height, or 133% */

    /* Dark */

    color: #2A373F;
}
.category {
    position : static;
    left: 0px;
    top: calc(50% - 16px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */

    display: flex;
    align-items: center;

    color: #5B7083;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.follow-flex-row {
    display: flex;
    flex-direction: row;
    height : 50px;
}

.follow-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 96.39px;
    height: 32px;
    left: 200px;
    background-color: #f3fbfc;
    border-radius: 20px;
    border: 2px solid rgb(93, 203, 247);
}

.cross {
    height : 20px;
    width : 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left : 5px;
    margin-top : 25px;
    position: absolute;
    left: 300px;
}