.App {

}

.in-row {
    display: flex;
    flex-direction: row;
    margin : 5px 5px 5px 5px;
}

.in-column {
    display: flex;
    flex-direction: column;
}


/* style for sidebar */

.sidebar {
    /* position: absolute;
    width: 243px;
    height: 716px;
    left: 0px;
    top: 132px; */
}
li {
    list-style: none;
}
.first {
    position: absolute;
    width: 85px;
    height: 18px;
    left: 79px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    /* Iris/100 */

    color: #5D5FEF;
}